
@import "variables";

//import bootstrap (via npm)

@import "../../../node_modules/bootstrap/scss/bootstrap";

// styles applicatifs

.bg-app {background:$brand-light;}

.bg-primary-app {
    @extend.btn;
    background-color:$brand-blue;
    border-color:$brand_blue;
    color:#fff;

    &.hover { background-color:$brand-navy;border-color:$brand-navy;}
}

